<form (ngSubmit)="onRegister()" #myForm="ngForm" class="formulario-registro">
  <h1 class="titulo-formulario">Formulario de registro</h1>
  <div class="input-group">
    <label for="name" class="textos">Name</label><br>
    <input type="text" class="estilo-input" name="name" required #nameInput5="ngModel" id="name" [(ngModel)]="register.name">
    <hr class="line-error"
    [ngClass]="{
      'valid': nameInput5.valid,
      'invalid': nameInput5.invalid
    }"
    />
    <p class="message-error" [class.invalid]="nameInput5.invalid">
      This field is required
    </p>

    <label for="email" class="textos">Email</label><br>
    <input type="email" class="estilo-input"  name="email" required #nameInput6="ngModel" id="email" [(ngModel)]="register.email">
    <hr class="line-error"
    [ngClass]="{
      'valid': nameInput6.valid,
      'invalid': nameInput6.invalid
    }"
    />
    <p class="message-error" [class.invalid]="nameInput6.invalid">
      This field is required
    </p>

    <label for="password" class="textos">Password</label><br>
    <input type="password" class="estilo-input"  name="password" required #nameInput7="ngModel" id="password" [(ngModel)]="register.password">
    <hr class="line-error"
    [ngClass]="{
      'valid': nameInput7.valid,
      'invalid': nameInput7.invalid
    }"
    />
    <p class="message-error" [class.invalid]="nameInput7.invalid">
      This field is required
    </p>
  </div>
  <button class="boton-registro" [disabled]="myForm.invalid" type="submit">Registrar</button>
</form>



<!--
<h1>ngClass & ngStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr class="line-error"
    [ngClass]="{
      'valid': nameInput4.valid,
      'invalid': nameInput4.invalid
    }"
    />
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div [ngStyle]="{
    'width.px':box.width,
    'height.px':box.height,
    'background-color':box.background,
    'display':'block'
  }"></div>
</div>

<hr/>


<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label for="">nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic':'normal'">Texto Texto Texto</p>
<div class=""styles>
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.%]="widthImg" [src]="person.avatar">
  </div>
</div>
<hr/>

<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Cristian'">Es Cristian</p>
  <p *ngSwitchCase="'Rene'">Es Rene</p>
  <p *ngSwitchDefault>Nada</p>
</div>

<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<hr/>

<h1>*ngFor</h1>
<input type="text"required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length===0">Sin nombres</li>
  <li *ngFor="let nombreItera of names; index as i">
    {{i}}{{nombreItera}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>


<h1>*ngIf</h1>
<input type="text" [(ngModel)]="person.name" />
<p *ngIf="person.name === 'Cristian'">My content</p>
<p *ngIf="person.name === 'Cristian' && person.edad===18; else elseBlockgatito">My content con edad</p>
<ng-template #elseBlockgatito>
  <p>Bloque de else</p>
</ng-template>
<hr/>

<h1>NgModellllllllll</h1>
<p>Nombre: {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Nombre: {{person.edad}}</p>
<input type="number" max="100" min="18" required #ageInput="ngModel" [(ngModel)]="person.edad" />
<p>Valid: {{ ageInput.valid }}</p>
<hr/>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="togglButton()">Toggle Button</button>
<p>Edad: {{person.edad}}</p>
<button (click)="increseAge()">edad++</button>
<div class="box"(scroll)="onScroll($event)">
  <p>SPRING SPLIT CHAMPION?! xdd xdd xdd xdd ! 0 TILT ONLY INSANE GAMEPLAY !YT !DISCORD !TEAMSSPRING SPLIT CHAMPION?! xdd xdd xdd xdd ! 0 TILT ONLY INSANE GAMEPLAY !YT !DISCORD !TEAMS</p>
</div>
<p>Nombre: {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<hr/>

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name"/>
<progress max="100" [value]="person.edad"></progress>
<img width="100" [src]="person.avatar" alt="">

<hr/>
<h1>Hola mundo</h1>
<h2>{{ 'Hola mundo'.repeat(5) }}</h2>
<p>Hola mi nombre es:{{name}}</p>
<img width="200" src="{{imagen}}" alt="">
-->
