body {
  background: linear-gradient(90deg, rgba(0,89,255,1) 0%, rgba(53,51,80,1) 100%);

}

.titulo-formulario{
  text-align: center;
  font: oblique bold 150% cursive;
}
.textos{
  font: small-caps 100%/200% serif;
}
